.chat {
	width: inherit;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.chat-list {
	display: flexbox;
	flex-direction: row;
}

.chat-list-messages {
	padding: 10px 0px;
}

.chat-header {
	padding: 10px;
	background-color: #f8f8f8;
	border: 1px solid gray;
	border-radius: 10px;
}

.chat-messages {
	flex-grow: 1;
	overflow-y: auto;
}
